
html, body{
    background: #ffff;
  }
body{
    color:#b10000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}  

/**navbar**/
.nav{
    display: flex;
    justify-content: space-evenly; 
    padding-top: 10px;
}
.links{
    display: flex;
    gap: 20px;
    align-items: center;
}
a{
    text-decoration: none;
    color:#b10000;
}
a:hover{
    color: rgb(156, 0, 26);
}

/**Hero content**/
.hero.col-2{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    
}
.content{
    width: 300px;
    flex-shrink: 0;
}
.h2{
    display: flex;
    font-size: 32px;
    font-weight: 800;
    margin-bottom: -11px;
}
.hero .signup{
    background: red;
    color: white;
    border-radius: 9px;
    padding: 5px 22px;
    box-shadow: none;
    border: none;
}
.signup:hover{
    background-color: rgb(156, 0, 26);
    color: white;

}

/**second content**/

.hero-2.col-1{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(156, 0, 26); 
   
}

.hero-2 .header{
    padding-top: 30px;
    font-size: 22px;
    font-weight: 900;
    color:white;
}
.hero-2 .images{
    display: flex;
    gap: 50px;
    padding-top: 60px;
    padding-bottom: 100px;
}
.px .rx{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.hero-2
img{
    width: 100px;
    border-radius: 12px;
}

/**Third content**/
.hero-3{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 70px;
    padding-bottom: 60px;
    background-color: snow;
}
.hero-3 .px{
    display: flex;
    width: 900px;
    font-size: 30px;
    font-style: italic;
}
.hero-3 .rx{
    align-self: flex-end;
    width: 900px;
    font-style: oblique;
    font-weight: 700;
}

/**fourth content**/
.hero-4{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
}
.content-4{
    display: flex;
    justify-content: space-evenly;
    border-radius: 16px;
    background-color: rgb(218, 62, 0);
    align-items: center;
    width: 700px;
    padding: 40px 60px;
}
.content-4 .px{
    font-size: 32px;
    align-items: start;
    color: white;
}
.content-4 .rx{
    font-size: 14px;
    margin-top: 4px;
}

.hero-4 .signup{

    background: red;
    color: white;
    border-radius: 9px;
    padding: 5px 22px;
    box-shadow: none;
    border: none;
}
.signup:hover{
    background-color: rgb(156, 0, 26);
    color: white;

}

footer{
    display: flex;
    justify-content: center;
    padding: 30px;
    background-color: rgb(238, 255, 0);
    
}